<!-- http://localhost:4200/ -->

<form action="/fileCreate" name="createForm" method="post">
  <input
    type="text"
    name="field-create"
    placeholder="Enter file name"
    [(ngModel)]="inputCreate"
  />
  <button class="btnCreate" (click)="readCreateForm(inputCreate)">
    Create file
  </button>
</form>

<form action="/fileDelete" name="deleteForm" method="post">
  <input
    type="text"
    name="field-delete"
    placeholder="Enter file name"
    [(ngModel)]="inputDelete"
  />
  <button class="btnDelete" (click)="readDeleteForm(inputDelete)">
    Delete file
  </button>
</form>

<form action="/upgradeFile" name="upgradeForm" method="post">
  <input
    type="text"
    id="input-field-upgrade"
    name="field-upgrade"
    placeholder="Enter text to add"
    [(ngModel)]="textAdd"
  />
  <input
    type="text"
    id="input-field-filename"
    name="field-filename"
    placeholder="Enter file name"
    [(ngModel)]="fileName"
  />
  <button class="btnUpgrade" (click)="readUpgradeForm(textAdd, fileName)">
    Upgrade file
  </button>
</form>

<div>
  <button class="fileList" (click)="showFileList()">
    Show file list
  </button>
</div>

<pre>
    <div id="content" [innerHtml]="text"></div>
</pre>
