<form class="formUpgrade" [formGroup]="formUpgrade">
  <mat-form-field>
    <textarea
      matInput
      formControlName="text"
      placeholder="Enter text to add in upgrade file"
    ></textarea>
  </mat-form-field>

  <br />

  <mat-form-field>
    <input matInput formControlName="name" placeholder="Enter file name" />
    <mat-error *ngIf="formUpgrade.invalid">
      {{ formUpgrade.get('name').errors?.extention }}
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    class="btnUpgrade"
    (click)="openDialog()"
    [disabled]="formUpgrade.invalid"
  >
    Upgrade file
  </button>
</form>
