<form class="formUpgrade" [formGroup]="formUpgrade">
  <mat-form-field>
    <textarea
      matInput
      formControlName="text"
      placeholder="Enter text to add in upgrade file"
    ></textarea>
  </mat-form-field>

  <br />

  <mat-form-field>
    <input matInput formControlName="name" placeholder="Enter file name" />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    class="btnUpgrade"
    (click)="onUpdateFile()"
    [disabled]="formUpgrade.invalid"
  >
    Upgrade file
  </button>

  <div style="color: red">
    {{ formUpgrade.get('name').errors?.extention }}
  </div>
</form>
