<form class="formUpgrade">
  <mat-form-field>
    <textarea
      matInput
      type="text"
      id="input-field-upgrade"
      name="field-upgrade"
      placeholder="Enter text to add in upgrade file"
      [(ngModel)]="textAdd"
    ></textarea>
  </mat-form-field>

  <br />

  <mat-form-field>
    <input
      matInput
      type="text"
      id="input-field-filename"
      name="field-filename"
      placeholder="Enter file name"
      [(ngModel)]="fileName"
    />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    class="btnUpgrade"
    (click)="readUpgradeForm(textAdd, fileName)"
  >
    Upgrade file
  </button>
</form>
