<h3 class="head">Files in directory:</h3>

<mat-list class="file-list">
  <mat-divider></mat-divider>
  <mat-list-item *ngFor="let item of list$ | async">
    <a class="item">{{ item }}</a>
    <button mat-icon-button (click)="onUpdateFile(item)">
      <mat-icon class="item-icon">border_color</mat-icon>
    </button>
    <button mat-icon-button (click)="onDeleteFile(item)">
      <mat-icon class="item-icon">delete_outline</mat-icon>
    </button>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
